@import 'src/scss/mixin';
@import 'src/scss/variables';

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;

  &_side {
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, .15);


    &_front {
      background-color: $white;
      height: 52rem;
    }

    &_back {
      transform: scale(0);
      height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover &_side_back {
    transform: scale(1);
    background: rgba($black, .4);
  }

  &_pic {
    background-size: cover;
    height: 40rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &_description {
    padding: 1.5rem 1rem 0.1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_header {
      width: 78%;
    }
  }

  &_heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #242b2d;
    overflow: hidden;
  }

  &_genre {
    color: $main-color;
    margin-top: .3rem;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .1rem;
  }

  &_rating {
    border: 0.1em solid $main-color;
    color: $main-color;
    background: none;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    height: 3rem;
  }

  &_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &_watch {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 300;
    color: $white;
  }

  &_btn {
    border: 0.1em solid $white;
    background: none;
    padding: 0.8em 1.5em;
    font-size: 1.5em;
    border-radius: 0.4em;
    color: $white;
    font-weight: 400;
    margin: 0.5em;
    cursor: pointer;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      border: $main-color;
    }
  }

  .detailSide {
    display: none;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($black, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &_active {
      z-index: 99;
      display: block;
    }

    .content {
      height: 100%;
      width: 100%;
      background-color: rgba($black, .5);

      &_overlay {
        padding: 7rem 1.5rem;

        h3 {
          color: $white;
        }

        .overview_style {
          min-height: 26rem;
          overflow: hidden;

          .overview {
            padding: 1.5rem 0;
            font-size: 1.2rem;
            color: #fff;
            width: 100%;
          }
        }

        .btn_overlay {
          left: 1rem;
          border: 0.1em solid $white;
          background: none;
          padding: 0.8em 1.5em;
          font-size: 1.5em;
          border-radius: 0.4em;
          color: $white;
          font-weight: 400;
          margin: 0.5em;
          cursor: pointer;
          bottom: 3rem;
        }
      }
    }
  }
}
