@import '../../scss/mixin';
@import '../../scss/variables';

.content {
  @include container;
  margin-top: 5em;
  border-bottom: 1px solid #d6d7d7;

  .button_content {
    @include container;
    @include flexRow(flex, row);
    justify-content: space-between;

    ul {
      @include flexRow(flex, row)
    }

    .icons {
      @include flexRow(flex, row)
    }
  }
}

.buttons {
  background: none;
  border: none;
  cursor: pointer;
  font-family: $font-family-bold;
  font-size: 1.5em;
  position: relative;
  font-weight: 100;
  color: $main_color;
  padding-bottom: 0.6em;
  margin-right: 1.5em;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.2em;
    background-color: $main-color;
    transition: width 0.5s ease-in;
  }

  &.active::after,
  &:hover::after {
    width: 100%;
  }
}
