@import 'src/scss/mixin';
@import 'src/scss/variables';

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;

  &_active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    border-radius: 2em;
    position: absolute;
    top: 1rem;
    width: 98%;
    background: $black;
    padding: 2rem;
  }
}
