@import 'src/scss/mixin';
@import 'src/scss/variables';

header {
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  height: 7rem;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 -1rem 1.5rem #000;
}

.header_content {
  @include container;
  @include headerStyles;

  h1 {
    font-size: 3em;
    font-weight: 100;
    color: $white;
    text-transform: uppercase;
    font-family: $font-family-bold;
  }

    input {
      border: 2px solid $white;
      border-radius: 8px;
      padding: 0.5em 0.5em;
      font-size: 1.5em;
      height: 2.3em;
      width: 19em;
      color: $white;
      background: none;

      &::placeholder {
        color: $white;
      }
    }
}
