@import 'src/scss/variables';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

  &_btn {
    background: none;
    border: 0.2rem solid $main-color;
    color: $main_color;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    width: 10rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $white;
      box-shadow: inset 10rem 0 0 0 $main-color;
    }
  }

}
