@mixin container() {
  width: 95vw;
  margin: auto;
}

@mixin flex($alignItems, $justContent) {
  align-items: $alignItems;
  justify-content: $justContent;
}

@mixin flexRow ($flex, $flexDir) {
  display: $flex;
  flex-direction: $flexDir;
}

@mixin headerStyles() {
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin overlay {
  background-color: rgba(#000, 0.3);
}
